name: Builds the app and deploys to PR environment

run-name: This is the test run-name

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  deployment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Show PR name
        run: echo "PR name is $GITHUB_REF_NAME or $GITHUB_REF"
      
