name: Deploys the app to dev

run-name: Deploying the app to dev...

on:
  workflow_dispatch:
    tags:
      - 1.*
      - 2.*

jobs:
  deployment:
    runs-on: ubuntu-latest
    environment: 
      name: dev
    steps:
      - uses: actions/checkout@v3

      - name: show_branch_name
        run: echo "Branch name is $GITHUB_REF_NAME or $GITHUB_REF"
